    <%- include('partials/header') %>
    <head>
      <link rel="stylesheet" href="/blog.css">
    </head>

    <div>
        <div class=" nav_btn my-3 p-3 d-flex justify-content-end">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              Filter
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">All</a></li>
              <li><a class="dropdown-item" href="#">Interviews</a></li>
              <li><a class="dropdown-item" href="#">Blogs</a></li>
              <li><a class="dropdown-item" href="#">Notices</a></li>
            </ul>
          </div>
        </div>

        <div class="container">
            <div class="row">
              <% for(let i in blogs){ %>
               <div class="col-12 col-sm-8 col-md-6 col-lg-4">

                

                <div class="card">
                  <img class="card-img" src="https://www.emergingedtech.com/wp/wp-content/uploads/2018/04/blogging.jpg" alt="Bologna">
                  <div class="card-img-overlay">
                    <a href="#" class="btn btn-light btn-sm"><%= blogs[i].type %></a>
                  </div>

                 
                    <div class="card-body">
                      <h4 class="card-title"><%= blogs[i].title %></h4>
                      <small class="text-muted cat">
                        <i class="far fa-clock text-info"></i> 30 minutes
                      </small>
                      <p class="card-text"><%= blogs[i].content %></p>
                      <a href="#" class="btn btn-info">Read More</a>
                    </div>
                    <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                      <div class="views">Apr 1, 12:45PM
                      </div>
                      <div class="stats">
                          <i class="fa-solid fa-heart"></i> 30
                          <i class="fa-solid fa-heart-crack"></i> 12
                      </div>
                       
                    </div>
                  </div>
                </div>
                  <% } %>
            </div>
            
          </div>
    </div>

    <footer>

    </footer>
</body>
</html>