<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/search.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <!--seach_bar............. -->
    <div class="search_div">
        <div class="search-bar">
            <form class="form1" action="/">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <!--seach_bar............. -->

    <!--Title............. -->
    <div class="title">
        <p class="para">
            Node Js
        </p>
    </div>
    <!--Title............. -->

    <!--User-Detail-->
    <div class="User-Detail">
        <p class="Author_Name">
            Name-Khustar
        </p>
        <p class="Topic">
            Topic-Web Development
        </p>
        <p class="Date">
            Date-02-04-2022
        </p>
    </div>
    <!--User Detail-->

    <!--Content of Blogs-->
    <div class="blogs-heading">
        <div class="head_of_blog">
            <h2 class="head2">
                How to Test Code Coupled to APIs or Databases
            </h2>
        </div>
    </div>

    <div class="content">
        <p class="content-para">
            In the real-world, there's more to test than pure functions and React components. We have entire bodies of
            code that rely on databases, caches, APIs, and other infrastructural concerns. Depending on our testing
            strategy, our first task may be to apply some distance between two types of code: core core and
            infrastructure code. With the help of a layered architecture, we introduce testing options and expose ways
            in which we can develop a healthy testing strategy for code reliant on infrastructure like APIs or
            databases.
            In our humble introduction to Test-Driven Development, we learned the basics of TDD. You now know that you
            should start with a failing test, write the mininum amount of code to make it pass, and refactor it to make
            it cleaner. Red-green-refactor.

            Straightforward, right? Though it may take a while to internalize and start working this way, the physical
            aspect - the mechanics of it - are pretty easy to grasp. That's the good news.

            What's not good news is that when you get out there into the real world, you're going to encounter
            situations where you need to test code that relies on a variety of infrastructural dependencies: external
            APIs, services, databases, caches, webhooks, and so on.
        </p>
    </div>
    <!--Content of Blogs-->

    <!--Cards............. -->
    <!--Related-works-->
    <div class="related_Blogs">
        <h4 class="head_of_related_Blogs">
            Related Blogs
        </h4>
    </div>
    <!--Related Works-->
    <div class="all_cards">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/img/download.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./download.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./download.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="./download.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <!--Cards............. -->
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

</html>